node_modules
.next
tsconfig.tsbuildinfo
.env
.env.local
.vercel
.venv
__pycache__
.pytest_cache
.ruff_cache
.coverage
coverage
build
dist
*.pyc
*.egg-info
*.sqlite3
*.sqlite3-*
.local
publish-gist/
/*.md
!/README.md
