SQLITE_DB_PATH=.local/gists.sqlite3
PUBLIC_GIST_BASE_URL=http://localhost:3000
PUBLIC_API_BASE_URL=http://localhost:3001
MAX_MARKDOWN_BYTES=1048576
MAX_REQUEST_BYTES=1050624
GIST_EXTERNAL_ID_LENGTH=16
SQLITE_BUSY_TIMEOUT_MS=5000
API_WRITE_LIMIT_PER_24H=150
API_AUTH_FAILURE_LIMIT_PER_MINUTE=20
GIST_HIGHLIGHT_TIMEOUT_SECONDS=8
GIST_MAX_HIGHLIGHT_BLOCK_BYTES=204800
GIST_MAX_HIGHLIGHT_BLOCKS=64
GIST_MAX_HIGHLIGHT_TOTAL_BYTES=524288
